input{
    border: 1px solid black;
    margin: 2px;
}
/* input[type = "button"]{
    width: 150px;
} */




td input.ng-invalid {
    border: 1px solid red;
}

.numeric-cell input{
    width: 100px;
    text-align: right;
}

.email-cell input{
    width: 250px;
}

.name-cell input{
    width: 250px;
}